/* You can add global styles to this file, and also import other style files */

.container-wrapper {
  text-align: center;
}

.table {
  margin: 0 auto;
}

.menu {
  margin:10%;
}

.menu label, button, input {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 1%;
}

.menu label {
  font-style: italic;
}

button {
  color: white;
  background:grey;
}

.flexcontainer {
  display: flex;
}

.footer-button {
  margin: auto;
}

body {
  background: whitesmoke;
}

th, td {
  color: black;
  background: whitesmoke;
  border: 1px solid;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

