<div class="container wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="inner">
                <h3>TODO List</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Body</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.title}}</td>
                            <td>{{item.body}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-item/', item.id]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteItem(item)">Remove</button>
                            </td>
                        </tr>
                        <button type="button" [routerLink]="['']">Add Item</button>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
