<div class="container-wrapper">
  <div class = "menu">
    <h3>Add Item</h3>
    <label for="item_title">Title: </label>
    <input id="item_title" type="text" [formControl]="item_title">
    <br>
    <label for="item_body">Body: </label>
    <input id="item_body" type="text" [formControl]="item_body">
    <br>
    <!--<p>Data: <br> {{ item_title.value }} <br> {{ item_body.value }}</p>-->

    <button type="button" (click)="addItem()">Add Item</button>
    <button type="button" (click)="cancel()">Go Back</button>
  </div>
</div>
